.App {
  text-align: center;
  width: 100%;
}

:root {
  --light-grey: #e7e7e7;
  --dark-grey: #888888;
  --metal-grey: #3d3d3d;
  --red: #dc4a2d;
  --light-pink: #fcb4a5;
}

.sections{
  display: flex;
  width: 100%;
  margin-top: 185px;
}

.sectionsDiv1{
  width: 70%;
}

.sectionsDiv2  {
  width: 30%;
}
