.section4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 4vw;
  padding-top: 2rem;
  gap: 2rem;
}

.followBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.1vw;
  height: 0.1vh;
  padding: 14px 24px 14px 24px;
  gap: 8px;
  border-radius: 8px;
  background: #e0ebf9;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Poppins;
  font-size: 0.6vw;
  font-weight: 700;
  line-height: 16.5px;
  text-align: left;
  color: #003788;
}

.valuee {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--metal-grey);
}

.section4Content {
  display: flex;
  gap: 5rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.reportLine {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-decoration: underline;
  color: #b0b0b0;
}
